body {
   
  /* background: -webkit-linear-gradient(to right, #26D0CE, #1A2980); 
  background: linear-gradient(to right, #26D0CE, #1A2980); 
 background: rgb(244, 247, 255);  */
  overflow: hidden;
  margin: 0;
}

 
.left-part {
  border-right: 1px solid #e5e5e5;
  /* background: rgb(244, 247, 255); */
  /* width: 400px; */
  /* color: #e5e5e5; */
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.search-section {
  border-bottom: 1px solid #e5e5e5;
}
.recetors-section {
  overflow-y: auto;
  height: 100%;
  /* max-height: 87vh; */
  max-height: 95vh;
  /* max-height: 600px; */
}
.playlist-section {
  /* justify-content: flex-end; */
  /* width: 230px; */
  border-left: 1px solid #e5e5e5;
  font-family: "Roboto", sans-serif;
}
.centerpart {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
}
.playerSection {
  width: 100%;
  max-width: 500px;
   
}

.playerslide {
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
  display: flex;
  padding: 1% 3%;
}

.playerslide .timer{
  margin-left: 2%;
  font-style: italic;
  font-weight: bold;
}
.mainActions{
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to right, #E9E4F0, #D3CCE3);
}