 body{
    /* background: #1A2980;  fallback for old browsers */
    /* background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #26D0CE, #1A2980); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    overflow: hidden;
    margin: 0;
 }

 .playerWrapper{
     display: flex;
     justify-content: stretch;
 }
 .search-section{
     background: rgb(244, 247, 255);
     width: 100%;
     height: 100vh;
    

 }